h1 {
	margin-top: 0px;
	margin-bottom: 16px;
}

html {
	background: black;
}

body {
	background: rgba(100, 0, 0, 0);
	color: rgba(255, 255, 255, 1);
	opacity: 1;
	text-align: center;
}

.fadein {
	opacity: 0;
}

.content {
	margin: 0 auto;
	width: 800px;
	height: calc(100vh - 70px);
	text-align: justify;
}

.linkbutton:hover {
	color: yellow;
	cursor: pointer;
}

#bgimg {
	position:absolute;
	z-index:-2;
	width:100vw;
	height:auto;
	left:0;
	right:0;
	bottom:0;
}

#bgimgol {
	position:absolute;
	z-index:-1;
	width:100vw;
	height:100vh;
	left:0;
	right:0;
	bottom:0;
}
